/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/app/Console/
.DS_Store
Thumbs.db
composer.lock
composer.phar
/public/vendor/
/public/js/plugins/
/public/js/components/
/public/js/configs/
/public/js/libs/
/public/js/sections/
/public/js/site/
/public/fonts/
