<div class="modal-header">
    <button type="button" class="close">
        <span aria-hidden="true" ng-click="cancel()">×</span>
    </button>
    <h3 class="modal-title" id="modal-title">Configurar reportes</h3>
</div>
<div class="modal-body" id="modal-body">
    <ul class="list-group list-group-dividered list-group-full">
        <li class="list-group-item active">
            <div class="media">
                <div class="media-left">

                    <img ng-show="riesgo.usuarios_codigo"
                         src="http://savio.utb.edu.co/user/external_render_pic.php?user=uws1&amp;pass=uws1&amp;wsusername=t00019038"
                         alt="" class="avatar"><i></i>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="media-heading ng-binding">
                                Riesgo: RAC003
                                <small class="ng-binding">
                                    {{'tipo de riesgo'}}
                                </small>
                            </h4>

                            <div class="alert alert-alt alert-danger alert-dismissible padding-bottom-30" role="alert">
                                <p class="ng-binding">
                                    <span>Descripcion: </span> El estudiante no asiste a dos o más clases sin justificación.
                                    <button type="button"
                                            class="btn btn-icon btn-danger btn-round  pull-right  btn-outline ng-hide">
                                        <i class="icon wb-check" aria-hidden="true"></i>
                                    </button>
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
                <hr>

            </div>
        </li>
        <li class="list-group-item active">
            <div class="media">
                <div class="media-left">

                    <img ng-show="riesgo.usuarios_codigo"
                         src="http://savio.utb.edu.co/user/external_render_pic.php?user=uws1&amp;pass=uws1&amp;wsusername=t00019038"
                         alt="" class="avatar"><i></i>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="media-heading ng-binding">
                                Riesgo: RAC003
                                <small class="ng-binding">
                                    {{'tipo de riesgo'}}
                                </small>
                            </h4>

                            <div class="alert alert-alt alert-danger alert-dismissible padding-bottom-30" role="alert">
                                <p class="ng-binding">
                                    <span>Descripcion: </span> El estudiante no asiste a dos o más clases sin justificación.
                                    <button type="button"
                                            class="btn btn-icon btn-danger btn-round  pull-right  btn-outline ng-hide">
                                        <i class="icon wb-check" aria-hidden="true"></i>
                                    </button>
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
                <hr>

            </div>
        </li>
    </ul>

</div>