.logo-img {
	width: 40px;
	float: left;
	position: relative;
	display: inline-block !important;
	top: -9px;
}

.navbar-a-text {
	margin-left: 6px;
	text-align: center;
	font-size: 40px;
	position: relative;
	left: 16px;
}

.modal-s {
	width: 400px;
}

.mis-acciones {
	background: #fff;
	box-shadow: -10px 0 20px 0 rgba(66, 66, 66, .2);
	width: 430px;
	position: fixed;
	z-index: 700000;
	height: 100% !important;
	top: 73px;
	right: 0;
}

#personalCompletedWidget .widget-header {
	height: 100px;
	background: #46BE8A;
}

#personalCompletedWidget .overlay-background {
	background: #46BE8A;
}

.mi-acciones-right li {
	list-style: none;
	padding: 5px;
	float: left;
}

.mi-progress-box {
	width: 100%;
}

.mi-progress-box .percentage-cur .num {
	margin-right: 5px;
}

.mi-progress-box .mi-progress-bar {
	width: 100%;
	height: 12px;
	background: #f2f1f1;
	margin-bottom: 3px;
	position: relative;
}

.mi-progress-box .mi-progress-bar .inner {
	position: relative;
	width: 0;
	height: 100%;
	background: #46BE8A;
}

.mi-progress-bar .inner {
	height: 0;
	width: 0;
	transition: all 1s ease-out;
}

.mi-progress-bar-slider .inner {
	transition: none;
}

.mi-progress-bar-slider .inner:after {
	content: " ";
	width: 5px;
	height: 14px;
	background-color: #ccc;
	position: absolute;
	right: -2px;
	top: -2px;
	border: 1px solid #bbb;
	border-radius: 2px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	margin: 0px;
}

.mi-progress-slider {
	opacity: 0;
	width: 100%;
	height: 15px;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	z-index: 1;
}
