<div class="page-header">

    <h1 class="page-title">Estudiantes</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main">Inicio</a></li>
        <li><a ui-sref="main.estudiante" ng-click="barra()">Estudiantes</a></li>
        <li ng-hide="titulo == 'NO'">{{titulo}}</li>

    </ol>

</div>
<div class="page-content" ui-view>

    <div class="row">
        <div class="col-lg-3 col-sm-4">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body">
                    <div class="list-group" >

                        <input class="form-control " type="text" placeholder="Buscar filtro"
                               ng-model="buscar_filtro">
                        <br>
                        <a class="list-group-item" href="javascript:void(0)" ng-repeat="filtro in filtros | filter:buscar_filtro"
                        ng-click="getFiltrosByEstudiantes(filtro.riesgos_id)"
                        >
                            <span>{{filtro.nombre}}</span>
                        </a>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>

        <div class="col-lg-9 col-sm-8">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-heading">

                </div>
                <div class="panel-body container-fluid">
                    <div class="example">

                        <div class="bootstrap-table">
                            <div class="fixed-table-toolbar">
                                <div class="bars pull-left">
                                    <div class="btn-group hidden-xs" id="exampleToolbar" role="group">
                                        <button type="button" ng-csv="estudiantes"
                                                csv-header="getColumsEstudiantes(estudiantes[0])"
                                                filename="estudiantes.csv" text-delimiter=";" field-separator=";"
                                                class="btn btn-outline btn-default">
                                            <i class="icon wb-download" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-outline btn-default"
                                                ng-click="openModalFiltros()"
                                        >
                                            <i class="icon wb-graph-up" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline btn-default">
                                            <span >{{estudiantes.length}}</span>
                                        </button>
                                    </div>
                                </div>

                                <div class="pull-right search">
                                    <input class="form-control input-outline" type="text" placeholder="Buscar (CODIGO)"
                                           ng-model="buscar" ng-change="buscarEstudiante(buscar)">
                                </div>
                            </div>
                            <div class="fixed-table-container" style="padding-bottom: 0px;">
                                <div class="fixed-table-body">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="table-responsive">
                                        <table class="table animation animation-fade">
                                            <thead>
                                            <tr>
                                                <th>
												<span class="checkbox-custom checkbox-primary">
								<input class="selectable-all" type="checkbox">
								<label></label>
							  </span>
                                                </th>
                                                <th class="width-50">
                                                    Codigo
                                                </th>
                                                <th>
                                                    Nombres
                                                </th>
                                                <th>
                                                    Apellidos
                                                </th>
                                                <th>
                                                    Programa
                                                </th>

                                                <th>
                                                    Acciones
                                                </th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="active animation animation-fade" ng-repeat="estudiante in estudiantes | filter:buscar">
                                                <td>
												<span class="checkbox-custom checkbox-primary">
													<input class="selectable-item" type="checkbox" id="row-619"
                                                           value="619">
													<label for="row-619"></label>
												</span>
                                                </td>
                                                <td>{{estudiante.ID}}</td>
                                                <td>{{estudiante.NOMBRES}}</td>
                                                <td>{{estudiante.APELLIDOS}}</td>
                                                <td>{{estudiante.PROGRAMA}}</td>

                                                <td class="text-nowrap">
                                                    <a ui-sref="main.personal({estudianteId:estudiante.ID})"
                                                       class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip"
                                                       data-original-title="Informacion">
                                                        <i class="icon wb-eye" aria-hidden="true"></i>
                                                    </a>
                                                    <button type="button" class="btn btn-sm btn-icon btn-flat btn-default"
                                                            data-toggle="tooltip" data-original-title="Delete">
                                                        <i class="icon wb-add-file" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged(currentPage)"
                                        boundary-links="true"
                                        force-ellipses="true"
                                        rotate="true"
                                        max-size="maxSize"
                                        ng-disabled="desabilitar_pag"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                        items-per-page="n_datos_p_pagina"
                                    ></ul>

                                    <div class="alert alert-info alert-dismissible" role="alert" ng-if="estudiantes.length < 1">
                                        <i class="icon  wb-info-circle" aria-hidden="true"></i>
                                        No hay datos que mostrar
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
    </div>

</div>


