<div uib-collapse="isShowEstrategias">
    <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
        <h4 class="example-title">Estrategias aplicadas</h4>

        <ul class="list-group">
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="avatar avatar-online">
                            <img src="/img/avatar.png" alt="...">

                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Seguimiento por consejería
                            <small>Juan Consejeto SAT</small>
                        </h4>
                        <br>
                        <div class="row">
                            <div class="col-md-7">
                                <p class="name">Fecha de asignacion: 2014-08-25 10:25:40</p>
                                <p class="name">Fecha de finalizacion: N/A</p>
                            </div>
                            <div class="col-md-5">

                                <div class="progress progress-xs table-content">
                                    <div class="progress-bar progress-bar-primary progress-bar-indicating" style="width: 90%" role="progressbar">
                                        <span class="sr-only">90%</span>
                                    </div>
                                </div>
                                <span>90%</span>

                            </div>

                        </div>

                        <div class="alert alert-alt alert-info alert-dismissible" role="alert">
                            <p>
                                <span>Descripcion: </span>A partir de la identificación de las dificultades académicas del estudiante, se establece un plan de acción, con compromisos y metas asignadas, que tribute a la mejora académica.
                            </p>
                        </div>

                    </div>
                    <!--div class="media-right">
                        <button type="button" class="btn btn-outline btn-success btn-sm">Follow</button>
                    </div-->
                </div>

                <hr>
                <div id="recentActivityWidget">
                    <ul class="timeline timeline-icon">
                        <li class="timeline-reverse">
                            <div class="timeline-content-wrap">
                                <div class="timeline-dot bg-green-600">
                                    <span>1</span>
                                </div>
                                <div class="timeline-content">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="title">
                                                <span class="authors">AC-E07-01</span>2014-09-05 10:58:49
                                            </div>
                                            <p>Tiempo estimado: 16 semanas</p>


                                        </div>
                                        <div class="col-md-6 ">
                                            <ul class="mi-acciones-right pull-right">
                                                <li>
                                                    <button type="button" class=" btn btn-outline btn-icon btn-default btn-round" ng-click="showPanel()" id="btn-show" style="
    padding-right: 0;">
                                                        <i class="icon wb-wrench" aria-hidden="true"></i></button>
                                                </li>
                                                <li>

                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-3">
                                            <p>Avance: 100%</p>
                                            <p>Finalizada?: No</p>
                                            <p>Costo total: 0</p>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="alert alert-alt alert-info alert-dismissible" role="alert">
                                                <p>
                                                    <span class="">Descripcion:</span> El estudiante asiste a sus clases durante el semestre, aprobando el curso con nota de 3,5.
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </li>

                        <li class="timeline-reverse">
                            <div class="timeline-content-wrap">
                                <div class="timeline-dot bg-green-600">
                                    <span>2</span>
                                </div>
                                <div class="timeline-content">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="title">
                                                <span class="authors">AC-E07-01</span>2014-09-05 10:58:49
                                            </div>
                                            <p>Tiempo estimado: 16 semanas</p>


                                        </div>
                                        <div class="col-md-6 ">
                                            <ul class="mi-acciones-right pull-right">
                                                <li>
                                                    <button type="button" class=" btn btn-outline btn-icon btn-default btn-round" ng-click="showPanel()" id="btn-show" style="
    padding-right: 0;">
                                                        <i class="icon wb-wrench" aria-hidden="true"></i></button>
                                                </li>
                                                <li>

                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-3">
                                            <p>Avance: 100%</p>
                                            <p>Finalizada?: No</p>
                                            <p>Costo total: 0</p>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="alert alert-alt alert-info alert-dismissible" role="alert">
                                                <p>
                                                    <span class="">Descripcion:</span> El estudiante asiste a sus clases durante el semestre, aprobando el curso con nota de 3,5.
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

            </li>

        </ul>

    </div>

</div>

<div class="media">
    <div class="media-left">
        <a class="avatar avatar-online" href="javascript:void(0)">
            <img src="/img/avatar.png" alt=""><i></i></a>
    </div>
    <div class="media-body">
        <div class="row">
            <div class="col-md-7">
                <h4 class="media-heading">
                    Riesgo: RAC001
                    <small>Juan Administrador SAT</small>
                </h4>



                <p class="name">Fecha de reporte: 2014-08-25 10:25:40</p>
                <p class="name">Tipo de riesgo: Academico</p>
                <div class="alert alert-alt alert-danger alert-dismissible" role="alert">

                    <p>
                        <span>Descripcion: </span> El estudiante presenta un promedio inferior a 3.2.
                    </p>
                </div>
            </div>

            <div class="col-md-5">

            </div>

        </div>

    </div>
    <div class="media-right">
        <span class="badge badge-danger mi-badge ">{{1}}</span>
        <button type="button" class="pull-right btn btn-icon btn-primary btn-round btn-lg" ng-click="open()">

            <i class="icon wb-extension" aria-hidden="true">

            </i>

        </button>
    </div>
    <div>
        <div class="right">
            <button type="button" ng-click="isShowEstrategias = !isShowEstrategias" class="btn btn-outline btn-icon btn-default btn-round"><i class="icon wb-list" aria-hidden="true"></i></button>
        </div>
    </div>

</div>
<hr>
<div uib-collapse="isShowEstrategias">
    <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
        <h4 class="example-title">Estrategias aplicadas</h4>

        <ul class="list-group">
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="avatar avatar-online">
                            <img src="/img/avatar.png" alt="...">

                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Seguimiento por consejería
                            <small>Juan Consejeto SAT</small>
                        </h4>
                        <br>
                        <div class="row">
                            <div class="col-md-7">
                                <p class="name">Fecha de asignacion: 2014-08-25 10:25:40</p>
                                <p class="name">Fecha de finalizacion: N/A</p>
                            </div>
                            <div class="col-md-5">

                                <div class="progress progress-xs table-content">
                                    <div class="progress-bar progress-bar-primary progress-bar-indicating" style="width: 90%" role="progressbar">
                                        <span class="sr-only">90%</span>
                                    </div>
                                </div>
                                <span>90%</span>

                            </div>

                        </div>

                        <div class="alert alert-alt alert-info alert-dismissible" role="alert">
                            <p>
                                <span>Descripcion: </span>A partir de la identificación de las dificultades académicas del estudiante, se establece un plan de acción, con compromisos y metas asignadas, que tribute a la mejora académica.
                            </p>
                        </div>

                    </div>
                    <!--div class="media-right">
                        <button type="button" class="btn btn-outline btn-success btn-sm">Follow</button>
                    </div-->
                </div>

                <hr>
                <div id="recentActivityWidget">
                    <ul class="timeline timeline-icon">
                        <li class="timeline-reverse">
                            <div class="timeline-content-wrap">
                                <div class="timeline-dot bg-green-600">
                                    <span>1</span>
                                </div>
                                <div class="timeline-content">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="title">
                                                <span class="authors">AC-E07-01</span>2014-09-05 10:58:49
                                            </div>
                                            <p>Tiempo estimado: 16 semanas</p>


                                        </div>
                                        <div class="col-md-6 ">
                                            <ul class="mi-acciones-right pull-right">
                                                <li>
                                                    <button type="button" class=" btn btn-outline btn-icon btn-default btn-round" ng-click="showPanel()" id="btn-show" style="
    padding-right: 0;">
                                                        <i class="icon wb-wrench" aria-hidden="true"></i></button>
                                                </li>
                                                <li>

                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-3">
                                            <p>Avance: 100%</p>
                                            <p>Finalizada?: No</p>
                                            <p>Costo total: 0</p>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="alert alert-alt alert-info alert-dismissible" role="alert">
                                                <p>
                                                    <span class="">Descripcion:</span> El estudiante asiste a sus clases durante el semestre, aprobando el curso con nota de 3,5.
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </li>

                        <li class="timeline-reverse">
                            <div class="timeline-content-wrap">
                                <div class="timeline-dot bg-green-600">
                                    <span>2</span>
                                </div>
                                <div class="timeline-content">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="title">
                                                <span class="authors">AC-E07-01</span>2014-09-05 10:58:49
                                            </div>
                                            <p>Tiempo estimado: 16 semanas</p>


                                        </div>
                                        <div class="col-md-6 ">
                                            <ul class="mi-acciones-right pull-right">
                                                <li>
                                                    <button type="button" class=" btn btn-outline btn-icon btn-default btn-round" ng-click="showPanel()" id="btn-show" style="
    padding-right: 0;">
                                                        <i class="icon wb-wrench" aria-hidden="true"></i></button>
                                                </li>
                                                <li>

                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-3">
                                            <p>Avance: 100%</p>
                                            <p>Finalizada?: No</p>
                                            <p>Costo total: 0</p>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="alert alert-alt alert-info alert-dismissible" role="alert">
                                                <p>
                                                    <span class="">Descripcion:</span> El estudiante asiste a sus clases durante el semestre, aprobando el curso con nota de 3,5.
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

            </li>

        </ul>

    </div>

</div>


