<div class="page-content container-fluid page-profile">
	<div class="row">
		<div class="col-md-3">
			<!-- Page Widget -->
			<div class="widget widget-shadow text-center">
				<div class="widget-header">
					<div class="widget-header-content">
						<a class="avatar avatar-lg" href="javascript:void(0)">
							<!--img src="/img/avatar2.png" alt="..."-->
							<img src="http://savio.utbvirtual.edu.co/user/external_render_pic.php?user=uws1&pass=uws1&wsusername={{estudiante.id}}" alt="...">
							<!--img src="http://savio.utbvirtual.edu.co/user/external_user_pic.php/{{estudiante.codigo}}/f1" alt="..."-->
						</a>
						<h4 class="profile-user">{{estudiante.nombres+ ' '+estudiante.apellidos}}</h4>
						<p class="profile-job">{{estudiante.programa}}</p>
						<address>
						  <strong>Informacion de contacto</strong>
						  <br><abbr title="Direccion">Direccion:</abbr> {{estudiante.direccion}}
						  <br> <abbr title="Correo">Correo:</abbr><a href="mailto:#"> {{estudiante.correo}}</a>
						  <br>
						  <abbr title="Telefono">Telefono: </abbr> {{estudiante.telefono}}
                		</address>
						<!--div class="profile-social">
							<a class="icon bd-twitter" href="javascript:void(0)"></a>
							<a class="icon bd-facebook" href="javascript:void(0)"></a>
							<a class="icon bd-dribbble" href="javascript:void(0)"></a>
							<a class="icon bd-github" href="javascript:void(0)"></a>
						</div-->
						<!--button type="button" class="btn btn-primary">Follow</button-->
					</div>
				</div>
				<div class="widget-footer">
					<div class="row no-space">
						<div class="col-xs-4">
							<strong class="profile-stat-count">Codigo</strong>
							<span>{{estudiante.id}}</span>
						</div>
						<div class="col-xs-4">
							<strong class="profile-stat-count">Edad</strong>
							<span >{{getEdad(estudiante.fecha_nacimiento)}}</span>

						</div>
						<div class="col-xs-4">
							<strong class="profile-stat-count">Sexo</strong>
							<span>{{estudiante.sexo}}</span>
						</div>
					</div>
				</div>
			</div>
			<!-- End Page Widget -->
		</div>
		<div class="col-md-9">
			<!-- Panel -->
			<div class="panel">
				<div class="panel-body nav-tabs-animate">
					<uib-tabset active="">
						<uib-tab index="0" heading="Intervenciones">
							<div class="tab-content animation-fade">
								<br>
								<div class="media">
									<div class="media-left">
										<a class="avatar avatar-online" href="javascript:void(0)">
											<img src="/img/avatar.png" alt=""><i></i></a>
									</div>
									<div class="media-body">
										<div class="row">
											<div class="col-md-7">
												<h4 class="media-heading">
                          								Riesgo: RAC001
													  <small>Juan Administrador SAT</small>
													</h4>



												<p class="name">Fecha de reporte: 2014-08-25 10:25:40</p>
												<p class="name">Tipo de riesgo: Academico</p>
												<div class="alert alert-alt alert-danger alert-dismissible" role="alert">

													<p>
														<span>Descripcion: </span> El estudiante presenta un promedio inferior a 3.2.
													</p>
												</div>
											</div>

											<div class="col-md-5">

											</div>

										</div>

									</div>
									<div class="media-right">
										<button type="button" class="btn btn-success"><i class="icon wb-extension" aria-hidden="true"></i>Agregar</button>
									</div>
									<div>
										<div class="right">
											<button type="button" ng-click="isShowEstrategias = !isShowEstrategias" class="btn btn-outline btn-icon btn-default btn-round"><i class="icon wb-list" aria-hidden="true"></i></button>
										</div>
									</div>

								</div>
								<hr>
								<div uib-collapse="isShowEstrategias">
									<div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
										<h4 class="example-title">Estrategias aplicadas</h4>

										<ul class="list-group">
											<li class="list-group-item">
												<div class="media">
													<div class="media-left">
														<div class="avatar avatar-online">
															<img src="/img/avatar.png" alt="...">

														</div>
													</div>
													<div class="media-body">
														<h4 class="media-heading">
                          								Seguimiento por consejería
													  <small>Juan Consejeto SAT</small>
													</h4>
														<br>
														<div class="row">
															<div class="col-md-7">
																<p class="name">Fecha de asignacion: 2014-08-25 10:25:40</p>
																<p class="name">Fecha de finalizacion: N/A</p>
															</div>
															<div class="col-md-5">

																<div class="progress progress-xs table-content">
																	<div class="progress-bar progress-bar-primary progress-bar-indicating" style="width: 90%" role="progressbar">
																		<span class="sr-only">90%</span>
																	</div>
																</div>
																<span>90%</span>

															</div>

														</div>

														<div class="alert alert-alt alert-info alert-dismissible" role="alert">
															<p>
																<span>Descripcion: </span>A partir de la identificación de las dificultades académicas del estudiante, se establece un plan de acción, con compromisos y metas asignadas, que tribute a la mejora académica.
															</p>
														</div>

													</div>
													<!--div class="media-right">
                                                        <button type="button" class="btn btn-outline btn-success btn-sm">Follow</button>
                                                    </div-->
												</div>

												<hr>
												<div id="recentActivityWidget">
													<ul class="timeline timeline-icon">
														<li class="timeline-reverse">
															<div class="timeline-content-wrap">
																<div class="timeline-dot bg-green-600">
																	<span>1</span>
																</div>
																<div class="timeline-content">

																	<div class="row">
																		<div class="col-md-6">
																			<div class="title">
																				<span class="authors">AC-E07-01</span>2014-09-05 10:58:49
																			</div>
																			<p>Tiempo estimado: 16 semanas</p>


																		</div>
																		<div class="col-md-6 ">
																			<ul class="mi-acciones-right pull-right">
																				<li>
																					<button type="button" class=" btn btn-outline btn-icon btn-default btn-round" ng-click="isPanel=true" id="btn-show" style="
    padding-right: 0;">
																						<i class="icon wb-wrench" aria-hidden="true"></i></button>
																				</li>
																				<li>

																				</li>
																			</ul>






																		</div>
																	</div>

																	<div class="row">

																		<div class="col-md-3">
																			<p>Avance: 100%</p>
																			<p>Finalizada?: No</p>
																			<p>Costo total: 0</p>
																		</div>
																		<div class="col-md-9">
																			<div class="alert alert-alt alert-info alert-dismissible" role="alert">
																				<p>
																					<span class="">Descripcion:</span> El estudiante asiste a sus clases durante el semestre, aprobando el curso con nota de 3,5.
																				</p>
																			</div>
																		</div>
																	</div>


																</div>
															</div>
														</li>
														<li class="timeline-reverse">
															<div class="timeline-content-wrap">
																<div class="timeline-dot bg-green-600">
																	<span>2</span>
																</div>
																<div class="timeline-content">
																	<div class="title">
																		<span class="authors">AC-E07-01</span>2014-09-05 10:58:49
																	</div>
																	<p>Tiempo estimado: 16 semanas</p>
																	<div class="row">

																		<div class="col-md-3">
																			<p>Avance: 100%</p>
																			<p>Finalizada?: No</p>
																			<p>Costo total: 0</p>
																		</div>
																		<div class="col-md-9">
																			<div class="alert alert-alt alert-info alert-dismissible" role="alert">
																				<p>
																					<span class="">Descripcion:</span> El estudiante asiste a sus clases durante el semestre, aprobando el curso con nota de 3,5.
																				</p>
																			</div>
																		</div>
																	</div>


																</div>
															</div>
														</li>

													</ul>
												</div>

											</li>

										</ul>

									</div>

								</div>

							</div>
							<div id="mi-panel" ng-class="{'animation-reverse': isPanel == true}" ng-show="!isPanel" class="mis-acciones animation-slide-right" click-outside="isPanel=false" outside-if-not="btn-show,mi-panel">
								<div id="personalCompletedWidget" class="widget widget-shadow padding-bottom-20">
									<div class="widget-header ">
										<a id="addNewItemBtn" href="javascript:void(0)" class="add-item-toggle pull-right" ng-click="isPanel=!isPanel">
											<i class="icon wb-close" aria-hidden="true" style="color:#fff;"></i>
										</a>
										<div class="overlay-background ">
											<div class="text-center">
												<h3 class="white">Seguimiento de la acción</h3>
											</div>
										</div>
									</div>
									<div class="widget-content">
										<div class="row">
											<div class="col-md-6">
												<caption>Avance (%)</caption>
											</div>

											<div class="col-md-6 pull-right">
												<div class="mi-progress-box" >
													<div class="percentage-cur text-center" ng-init="selectedRange=50">
														<h3 class="green-600">{{ selectedRange }}%</h3>
													</div>
													<div class="mi-progress-bar progress-bar-slider">
														<input class="mi-progress-slider" type="range" min="0" max="100" ng-model="selectedRange">
														<div class="inner" ng-style="{ width: selectedRange + '%' || '0%' }"></div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>

							</div>
						</uib-tab>
						<uib-tab index="1" heading="Academica">
							<div class="tab-content animation-fade">
								Informacion Academica
							</div>
						</uib-tab>
						<uib-tab index="2" heading="Financiera">
							<div class="tab-content animation-fade">
								Informacion Financiera
							</div>
						</uib-tab>
					</uib-tabset>



				</div>
			</div>
			<!-- End Panel -->
		</div>
	</div>
</div>
